*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(27, 76, 109) ;
    color: rgba(245, 236, 236, 0.973);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    

}
.header{
    padding: 2rem;
    text-align: center;
    
}

.botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    padding: 2px 7px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 200px;
}

.main{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
    
}
.Introdution {
    background-color: rgba(63, 105, 117, 0.9);
    padding: 1.5rem;
    border-radius: 8px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
    color: white;
    height: auto;
    gap: 10px;
  }
.Introdution p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

.paragrafos{
    background-color: rgba(63, 105, 117, 0.9);
    padding: 1.5rem;
    border-radius: 8px;
    width: 30%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    height: auto;
    gap: 10px;
    
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.help, .how{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


